<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />

<link href="/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet" />
<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />


<title>Ocean.com</title>
</head>
<body>

<header th:insert="fragments/page_header::pageHeader"></header>

<main>

    <div class="container" th:each="item: ${MstProductList}">
        <table class="top">
            <caption> <label th:text="${item.productName}"></label> (<label th:text="${item.productNameKana}"></label>)</caption>
            <tr>
 				<th>画像</th><th>価格</th><th>発売元</th><th>発売年月日</th>
			</tr>
            <tr>
              <td class="imageDetail">
                  <img class="itemimageDetail"  th:src="${item.imageFullPath}" />
              </td>
              <td class="number" th:text="${item.price} + '円'"/>
              <td th:text="${item.releaseCompany}"/>
              <td th:text="${item.releaseDate}"/>
            </tr>  
		</table>
			<label id="description">商品説明</label>
			<textarea cols="75" rows="5" readonly th:text="${item.productDescription}">
			</textarea>
			
			<hr />
		<form>	
			<div class="buttonArea">
				<label>購入個数</label>
				<input type="number" id="productCount" name="productCount" class="count number" value="0" min="0" step="1"/>
				<input type="hidden" name="productId" th:value="${item.id}"/>
				<button class="cartButton">カートに追加</button>
			</div>
		</form>
    </div>
    
</main>

<script>
$(() => {
    $('.cartButton').on('click', () => {
    	let productCount = $('#productCount').val();
    	
        if (productCount == 0) {
            alert("個数が0です。");
            return;
       }
        
       $('form').attr('action','/ocean/cart/add');
       $('form').submit();
	});
});

</script>
</body>
</html>